<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         executionOrder="depends,defects"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         colors="true"
         verbose="true">
    <coverage/>
    <testsuites>
        <testsuite name="BackwardsCompatibility">
            <directory>tests/BackwardsCompatibility</directory>
        </testsuite>
        <testsuite name="Cli">
            <directory>tests/Cli</directory>
        </testsuite>
        <testsuite name="Defaults">
            <directory>tests/Defaults</directory>
        </testsuite>
        <testsuite name="DockerEntrypoint">
            <directory>tests/DockerEntrypoint</directory>
        </testsuite>
        <testsuite name="Extensions">
            <directory>tests/Extensions</directory>
        </testsuite>
        <testsuite name="Fpm">
            <directory>tests/Fpm</directory>
        </testsuite>
        <testsuite name="Nginx">
            <directory>tests/Nginx</directory>
        </testsuite>
    </testsuites>
</phpunit>
